<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="menuPrincipal"></ion-menu-button>
    </ion-buttons>
    <ion-title>Puntos Cercanos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11958.652350817621!2d-72.93719187596236!3d-41.468222096344014!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x96183a5a246be41d%3A0xbc62a63c078d10c5!2sJumbo!5e0!3m2!1ses-419!2scl!4v1662435854166!5m2!1ses-419!2scl" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</ion-content>
